<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="theme-color" content="#14ce9c">
  <title>DELIVERY CUSTOMER</title>
  <link rel="stylesheet" href="/leaflet/leaflet.css">
  <link rel="stylesheet" href="/esri-leaflet-geocoder/esri-leaflet-geocoder.css">
  <link rel="stylesheet" href="css/shared.css">
  <link rel="stylesheet" href="/css/style.css">


  <script src="/vue/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/leaflet/leaflet.js"></script>
    <script src="js/customer.js" defer></script>
  <!--<script src="js/script.js" defer></script>-->
  <script src="/esri-leaflet/esri-leaflet.js"></script>
  <script src="/esri-leaflet-geocoder/esri-leaflet-geocoder.js"></script>

</head>
<body>
        <div class="menu">
        <div class="menu-button" onclick="menu()">
            <span id="top"></span>
            <span id="bottom"></span>
        </div>
        <div class="menu-items">
            <div>
            <span><a href="/" target="_blank">Customer</a></span>
            <span><a href="/dispatcher" target="_blank">Dispatcher</a></span>
            <span><a href="/driver" target="_blank">Driver</a></span>
        </div>
        </div>
    </div>

  <!--<h1>
    DELIVERY CUSTOMER
  </h1>
  <p>Select pickup location first, then your parcel's destination</p>
  <div id="page">
    <div id="my-map"></div><br>
        <label class="checkbox">
        <input type="checkbox" v-model="express" @change="moveMarker" name="express" value="express"><span class="checkmark"></span><label>Check this box for express delivery!</label>
    </label>
    <button v-on:click="placeOrder">ORDER DELIVERY</button>
    Your order number is {{ orderId }}
  </div>-->

<div id="pages">


  <div id="log-in-customer" v-bind:class ="{active: index == 0} ">

        <h1 class ="logo">Welcome to DelivMates! </h1>
    <img class = "truck" src="img/delivery-img.jpg">


     <div  v-bind:class ="{active: index == 0}">
    <button v-on:click="nextButton">Palce order(private individual)</button>
  </div>


    <div class="companylogin" v-bind:class ="{active:count == 0}">

<button v-on:click="nextButtonCompany">Palce order(company)</button>
  </div>

    <div  v-bind:class ="{active: track == 0}">
    <button v-on:click="nextButtonTrack">Track Order</button>
    </div>

  </div>





<div class="co"id="package-company" v-bind:class="{active: count == 1}">
  ´
    <h2>Choose package</h2>
<select>
    <option>Letter</option>
    <option>Package</option>
</select>
<h3>Receiver address</h3>
<label>Company Name</label><input optional>
<label>First Name</label><input   required>
<label>Last Name</label><input required>
<label>Street address</label><input equired >
<label>Zip Code</label><input type="number" required>
<button  v-on:click="nextButtonCompany">Next</button>

</div>
</form>



  <v-stepper v-model="e1">
    <v-stepper-header>
      <v-stepper-step :complete="e1< 1" step="1"> 1 </v-stepper-step>



<div id="package-choose" v-bind:class="{active: index == 1}">
    <h2>Choose package</h2>
<select id="package">
    <option>Letter</option>
    <option>Package</option>
</select>
<h3>Receiver address</h3>
<label>First Name</label><input id="fstNameS" required>
<label>Last Name</label><input  id="lastNameS" required>
<label>Street address</label><input id="strNameS"required>
<label>Zip Code</label><input id="zipR"type="number" type="number" required>
<button  v-on:click="nextButton">Next</button>
</div>



<div id="t1" v-bind:class="{active: track == 1}">
<h2>TRACK</h2>
<label>ENTER TRACKNUMBER</label><input required>
<button v-on:click ="nextButtonTrack">View</button>
</div>

<div id="delivery-company" v-bind:class="{active: count == 2}">
    <img src="img/package.jpg">


    <h2>Choose delivery option</h2>
    <label class="radio">
        <input type="radio" name="delivery-option" value="regular" checked><span class="checkmark"></span><label>Regular (1-2 days)</label>
    </label>
    <label class="radio">
        <input type="radio" name="delivery-option" value="express"><span class="checkmark"></span><label>Express (24 hours) + 40 SEK</label>
    </label>
    <button v-on:click="nextButtonCompany">Next</button>
</div>



      <v-stepper-step :complete="e1< 2" step="2"> 2 </v-stepper-step>



<div id="package-option" v-bind:class="{active: index == 2}">
    <img src="img/package.jpg">
    <h2>Choose delivery option</h2>
    <label class="radio">
        <input type="radio" name="delivery-option" value="regular" checked><span class="checkmark"></span><label>Regular (1-2 days)</label>
    </label>
    <label class="radio">
        <input type="radio" name="delivery-option" value="express"><span class="checkmark"></span><label>Express (24 hours) + 40 SEK</label>
    </label>
    <button v-on:click="checkExpress">Next</button>
</div>



<v-stepper-step :complete="e1< 3" step="3"> 3 </v-stepper-step>


<div id="info"  v-bind:class="{active: index == 3}">
<h2>Fill in your information</h2>
<label>First Name</label><input id="fstNameS" required>
<label>Last Name</label><input id="lastNameS" required>
<label>Street address</label><input id="strNameS"required>
<label>Zip Code</label><input  id="zipS" type="number" required>
<label>E-mail</label><input id="emailS"  type="email" required>
<label>Telephone number</label><input id="phoneS" type="number" required>
<button v-on:click="saveSenderData">Next</button>
</div>


<div v-bind:class="{active: count == 3}">
<h2>Fill in your information</h2>
<label>Company Name</label><input required>
<label>Street address</label><input required>
<label>Zip Code</label><input type="number" required>
<label>E-mail</label><input type="email" required>
<label>Telephone number</label><input type="number" required>
<button v-on:click="nextButtonCompany">Next</button>
</div>

<v-stepper-step :complete="e1< 4" step="4"> 4 </v-stepper-step>


<div id="payment"  v-bind:class="{active: index == 4}">
<h2>Payment</h2>
<label class="radio">
        <input type="radio" name="payment-type" value="credit-card" checked><span class="checkmark"></span><label>Credit Card</label>
    </label>
<label class="radio">
        <input type="radio" name="payment-type" value="klarna"><span class="checkmark"></span><label>Klarna</label>
    </label>
    <label>Card holders name</label><input placeholder="Name" required>
    <label>Card Number</label><input type="number" placeholder="XXXX XXXX XXXX XXXX" required>
    <label>CVC</label><input type="number" placeholder="XXX" required>
    <label>Date</label><input placeholder="XX/XX" required>
    <button v-on:click="placeOrder">Next</button>
</div>


<div  v-bind:class="{active: count == 4}">
<h2>Payment</h2>
<label class="radio">
        <input type="radio" name="payment-type" value="credit-card" checked><span class="checkmark"></span><label>Credit Card</label>
    </label>
<label class="radio">
        <input type="radio" name="payment-type" value="klarna"><span class="checkmark"></span><label>Klarna</label>
    </label>
    <label>Card holders name</label><input placeholder="Name" required>
    <label>Card Number</label><input type="number" placeholder="XXXX XXXX XXXX XXXX" required>
    <label>CVC</label><input type="number" placeholder="XXX" required>
    <label>Date</label><input placeholder="XX/XX" required>
    <button v-on:click="nextButtonCompany">Next</button>
</div>

<v-stepper-step :complete="e1< 5" step="5"> 5 </v-stepper-step>
</v-stepper-header>

<div id="info"  v-bind:class="{active: index == 5}">
  <img class = "payment" src="img/payment.png">
<center><h2 id="pay">Payment was sucessful!</h2></center>
<center><h5 class ="pay"> Your order number is {{ orderId }} Check your email for  an order confirmation</h5></center>

<v-stepper-items>
        <v-stepper-content step="1">

        </v-stepper-content>

        <v-stepper-content step="2">


       </v-stepper-content>
       <v-stepper-content step="3">

       </v-stepper-content>

       <v-stepper-content step="4">

       </v-stepper-content>

       <v-stepper-content step="5">

       </v-stepper-content>

     </v-stepper-items>
   </v-stepper>


<div v-bind:class="{active: trackp == 0}">
<button v-on:click="nextButtonTrackp">Track Order</button>
</div>

<button onclick="location.reload()"> Return to main </button>

<!--<button v-on:click="nextButton"> Return to main </button>-->
</div>

<div id="t2" v-bind:class="{active: trackp == 1}">
<h2>TRACK</h2>
<label>ENTER TRACKNUMBER</label><input required>
<button v-on:click ="nextButtonTrackp">View</button>
</div>


<div id="info"  v-bind:class="{active: count == 5}">
  <img class = "payment" src="img/payment.png">
 <center><h2 id="pay">Payment was sucessful!</h2></center>
<center><h5> Check your email for  an order confirmation</h5></center>

<div v-bind:class="{active: trackc == 0}">
<button v-on:click="nextButtonTrackc">Track Order</button>
</div>

<button v-on:click="nextButtonCompany"> Return to main </button>
</div>

<div id="t6" v-bind:class="{active: trackc == 1}">
<h2>TRACK</h2>
<label>ENTER TRACKNUMBER</label><input required>
<button v-on:click ="nextButtonTrackc">View</button>
</div>



<div id="t5" v-bind:class="{active: track == 6}">
<h2>TRACK</h2>
<label>ENTER TRACKNUMBER</label><input required>
<button v-on:click ="nextButtonTrack">View</button>
</div>


</div>

</div>
</body>
</html>
