<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>DELIVERY DISPATCHER</title>
  <link rel="stylesheet" href="/leaflet/leaflet.css">
  <link rel="stylesheet" href="css/shared.css">
  <script src="/vue/vue.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script src="/leaflet/leaflet.js"></script>
  <script src="js/dispatcher.js" defer></script>
</head>
<body>
  <a href="/" target="_blank">Open customer view</a> | 
  <a href="/dispatcher" target="_blank">Open another dispatcher view</a> | 
  <a href="/driver" target="_blank">Open driver view</a>
  <h1>
    DELIVERY DISPATCHER
  </h1>
  <div id="pages">
    
    <h1>Orders</h1>
    <ul>
      <li v-for="order in orders">
        # {{ order.orderId}} From: {{ order.senData[2] }},  Destination: {{ order.recData[3] }},  Express: {{ order.express ? "Yes" : "No" }}
        <!--<ul>
          <li v-for="(detail, key) in order.orderDetails">
            {{ key + ": " + detail }}
          </li>
        </ul>-->
        <select v-on:change="assignDriver(order)" v-model="order.driverId">
          <option disabled value="">Assign a driver</option>
          <option v-for="driver in drivers">{{ driver.driverId}} </option>
        </select> 
      </li>
    </ul>

  </div>
  
</body>
</html>
